<% if logged_in? %> <div class="row">
   <aside class="col-md-4">
     <section class="user_info">
       <%= render 'shared/user_info' %>
     </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
   </aside>
   <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
 </div>
<% else %>
  <div class="center jumbotron
      <h1>Rate and explore new places to eat</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> </div>
      <center><br><%= link_to image_tag("rails.png", alt: "Logo", size: "160x160", class: "mx-auto d-block", :alt => "logo")%></br></center>
      <br><center>
      <h2> Want to explore lunch places?</h2>
  </div>
<% end %>
