<!DOCTYPE html>
<html>
  <head>
    <title>Eliza's Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- For internet explorer -->
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
 <!-- Not putting _ because rails knows I mean _header. Telling Rails it's a partial %> -->

  <body>
    <header class="navbar navbar-fixed-tip navbar-inverse"
      <div class="container">
        <%= link_to "Sample App", '#', id: "logo" %>
        <nav>
          <ul class= "nav navbar-nav pull-right">
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Login", '#' %></li>
          </ul>
        </nav>
        </div>
      </header>
    <%= yield %>
  </body>
</html>
