<!DOCTYPE html>
<html>
  <head>
    <title>Eliza's Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <!-- Not putting _ because rails knows I mean _header. Telling Rails it's a partial %> -->
  <%= render 'home/header'%>
  <%= render 'home/masthead'%>
  <body>
    <%= yield %>
    <br/> Eliza Fury </br/><br>
  </body>
</html>
